:root {
    --color1: #5e68f0; 
    --color2: #f84a4a; 
    --size-font: 20px;
}

body {
    background-image: linear-gradient( var(--color1), var(--color2),var(--color1));
}

.authorization {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 100px;
   text-align: center;
   font-size: var(--size-font);
   font-weight: bold;
   font-family:  Arial;
}

.butt {
    display: flex;
    flex-direction: column;
    width: calc(100 * 3);
    align-items: stretch;
    padding: 10px;
}

button {
    
    color: rgb(255, 255, 255);
    background-color: var(--color1);
    font-size: var(--size-font);
    font-weight: bold;
    padding: 10px;
    flex-basis: 50%;
}

.butt1:active {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.butt2:active {
    transform: scale(0.9);
    transition-duration: 0.5s;
}


input {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;
}

input:focus {
    background: var(--color2);
    transition-duration: 0.5s;    
}

